<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 引入公共的头 -->
    <% include ./modules/header.ejs %>
    <h1><%= title %></h1>
    <p>about</p>
    <!-- 引入公共的尾 -->
    <% include ./modules/footer.ejs %>
  </body>
</html>
