<div class="top-menu page-width" id="topMenu">
  <div class="logo">人员管理系统</div>
  <ul class="menu-list">
      <li><a href="/" class="actived">首页</a></li>
      <li><a href="/about">关于我们</a></li>
      <li><a href="/staffs">员工列表</a></li>
  </ul>
  <div class="quick-link" id="quickLink">
      <span class="login-no">
          <a href="/login">登录</a>
          <a href="/register" class="actived">注册</a>
      </span>
      <span class="login-yes">

      </span>
  </div>
</div>
<!-- 这里再app.js中用到了express-static静态资源服务，所以不用引入public -->
<link rel='stylesheet' href='/stylesheets/style.css' />

